<% include partials/header.ejs%>

<% include partials/main_nav.ejs%>

<main class="container">
    <table class="table table-striped">
        <tr class = "d-flex">
            <th class="text-center col-2">Title</th>
            <th class="text-center col-2">Author</th>
            <th class="text-center col-2">Published</th>
            <th class="text-center col-2">Year</th>
            <th class="col-6">Description</th>
            <th class="text-center col-2">Price</th>
          </tr>
            <% for(let count = 0;count < BookList.length; count++){ %>
                <tr class = "d-flex">
                    <td class="text-center col-2"><%= BookList[count].name %></td>
                    <td class="text-center col-2"><%= BookList[count].author %></td>
                    <td class="text-center col-2"><%= BookList[count].published %></td>
                    <td class="text-center col-2"><%= BookList[count].price %></td>
                    <td class="col-6"><%= BookList[count].description %></td>
                    </tr>
                    <%}%>    
      </table>
</main>

<% include partials/bottom_nav.ejs %>

<% include partials/footer.ejs %>